html, body {
    overflow-x: hidden;
}

.my-portfolio-text::after {
    content: '';
    display: block;
    border: 1px solid #ffc107;
    width: 200px;
    margin: 30px auto;
}

.my-portfolio-box {
    position: relative;
    max-width: 700px;
}

.my-portfolio-box-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 65%;
}

.my-portfolio-box-title {
    margin-bottom: 1.2rem;
    letter-spacing: .2rem;
}

.my-portfolio-img-overlay::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    content: "";
    z-index: 0;
    background: none repeat #6f42c1;
    opacity: .6;
}

.my-portfolio-box-img {
    max-width: 700px;
}

.other-section {
    position: relative;
    padding: 50px 50px 180px 50px;
    background: rgb(255, 193, 7);
    background: linear-gradient(180deg,#ffc107 0,#6f42c1 100%);
}

.other-section::before,
.other-section::after {
    content: '';
    position: absolute;
}

.other-separator {
    z-index: 1;
    background: white;
}

.other-separator::before,
.other-separator::after {
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}